@inherits LayoutComponentBase

<div class="public-shell">
    <Navbar ShowSearch="false" />

    <main class="public-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">X</span>
</div>
