<li class="sidebar-item">
    <NavLink href="@Href" Match="@Match" class="sidebar-link" ActiveClass="sidebar-link-active">
        <span class="sidebar-icon">@IconLabel</span>

        @if (!IsCollapsed)
        {
            <span class="sidebar-label">@Label</span>
        }
    </NavLink>
</li>

@code {
    [Parameter, EditorRequired]
    public string Href { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Label { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string IconLabel { get; set; } = string.Empty;

    [Parameter]
    public NavLinkMatch Match { get; set; }

    [Parameter]
    public bool IsCollapsed { get; set; }
}